results/
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

FIX_DOCS

# PyTorch
*.pth
*.pkl
*.h5

# Data files
data/.pkl .yaml
*.fits
*.hdf5
*.csv

# Results
results/
models/trained/
logs/
wandb/

# Jupyter Notebooks
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Conda
*.conda

#logs
logs/
*.log

github/

*.npy

github.pub
github

test.py

*.sh

*.out

*.backup
